<h2>Всі іграшки</h2>
<h3>@Model.currCategory</h3>

<div class="row mt-5 mb-2">
    @{
        foreach (Toy toy in Model.allToys)
        {
        @Html.Partial("AllToys", toy)
        }
    }
</div>
